{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>힛동 :: {% block title %}걸그룹 아이돌의 직캠 영상을 한번에!{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="keywords" content="힛동,{% block keywords %}직캠,직캠러,걸그룹,아이돌{% endblock %}">

  <link rel="image_src" href="{% block meta_thumbnail %}{% static "img/logo.png" %}{% endblock %}" />
  <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/logo.png" %}">

  <meta name="og:title" content="힛동 :: {% block og_title %}걸그룹 아이돌의 직캠 영상을 한번에!{% endblock %}"/>
  <meta name="og:url" content="{% block url %}http://hitdong.com{% endblock %}"/>
  <meta name="og:description" content="{% block description %}걸그룹 아이돌의 직캠 영상을 한번에!{% endblock %}">
  <meta name="og:image" content="{% block fb_thumbnail %}{% static "img/logo.png" %}{% endblock %}"/>

  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <style>
    body {
      min-height: 100px;
      padding-top: 70px;
    }
    .footer {
      height: 60px;
      background-color: #f5f5f5;
      text-align: center;
      padding-top: 10px;
    }
    .footer > p {
      padding-top:20px;
    }
    .responsive-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
    .responsive-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    .media-list { border-bottom: 1px #F1F1F1 solid; padding-top:7px; min-height:78px;}
    .media-timestamp { color: #B3B3B3;}
  </style>
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="padding-right:10px;">
          <img alt="Brand" src="{% static "img/logo.png" %}" width="20">
        </a>
        <a class="navbar-brand" href="/" style="padding-left:15px;">힛동</a>
        <p class="navbar-text"><small>걸그룹 아이돌의 직캠 영상을 한번에!</small></p>
      </div>
    </div>
  </nav>

  <div class="container">
    {% block body %}{% endblock %}
  </div>

  <footer class="footer">
    <p class="text-muted">2015 &copy; Golden Gate Brdg.</p>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-63946446-1', 'auto');
    ga('send', 'pageview');
  </script>

  <script src="http://xad.adlibr.com/script/web/smart/banner_ad.js"></script>
  <script>
    var adlib_vars = {};
    adlib_vars.key = "55785e5f0cf2d5747f1ce262";
    adlib_vars.ad_align = "center";
    adlib_vars.render    = "banner_adlibr"; // div id
    adlib_vars.hreftop   = "";

    new ADLIBrBanner.init(adlib_vars);
  </script>

  <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script>
    Kakao.init('{{ KAKAO_API_KEY }}');

    var video_host = 'http://hitdong.com/v/';

    $('.facebook-btn').click(function(e){
        e.preventDefault();

        var video_id = $(this).data('video-id');

        shareFacebook(video_id);
    });

    $('.kakao-link-btn').click(function(e){
        e.preventDefault();

        var video_id = $(this).data('video-id');
        var msg = $(this).data('msg');

        sendToKakaoTalk(video_id, msg);
    });

    $('.kakao-story-btn').click(function(e){
        e.preventDefault();

        var video_id = $(this).data('video-id');

        sendToKakaoStory(video_id);
    });

    function shareFacebook(video_id) {
      var fb_url = 'https://www.facebook.com/sharer/sharer.php?u=';
      var mkt_params = '?utm_source=facebook&utm_medium=link&utm_campaign=share';

      var url = video_host + video_id + mkt_params;
      url = fb_url + encodeURIComponent(url);
      window.open(url);
    }

    function sendToKakaoTalk(video_id, msg) {
      var mkt_params = '?utm_source=kakao&utm_medium=link&utm_campaign=share';

      var url = video_host + video_id + mkt_params;

      Kakao.Link.sendTalkLink({
        label: msg + '\n\nvia/ 힛동\n\n' + url,
        installTalk: false,
        fail: function() {
          alert('카카오톡이 설치되어 있지 않습니다.');
        }
      });
    }

    function sendToKakaoStory(video_id) {
      var mkt_params = '?utm_source=kakaostory&utm_medium=link&utm_campaign=share';

      var url = video_host + video_id + mkt_params;

      Kakao.Story.share({
        url: url
      });
    }
  </script>
</body>
</html>