{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>힛동 :: 오늘의 히트 동영상!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "img/logo.png" %}">

  <meta name="og:title" content="{% block title %}힛동{% endblock %}"/>
  <meta name="og:url" content="{% block url %}http://hitdong.com{% endblock %}"/>
  <meta name="og:description" content="{% block description %}오늘의 히트 동영상!{% endblock %}">
  <meta name="og:image" content="{% block meta_thumbnail %}{% static "img/logo.png" %}{% endblock %}"/>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  {% block head %}
  {% endblock %}
</head>
<body>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="{% static "img/logo.png" %}" width="20">
        </a>
      </div>
    </div>
  </nav>
  {% block body %}{% endblock %}
</div>
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
  Kakao.init('{{ KAKAO_API_KEY }}');

  $('.kakao-link-btn').click(function(e){
      e.preventDefault();

      var img_src = $(this).data('thumbnail');
      var id = $(this).data('video-id');
      var msg = $(this).data('msg');

      sendToKakaoTalk(img_src, 'http://fedong.kimtree.net/v/' + id, msg);
  });

  function sendToKakaoTalk(img_src, url, msg) {
    Kakao.Link.sendTalkLink({
    label: msg,
    image: {
      src: img_src,
      width: '300',
      height: '200'
    },
    webButton: {
      text: 'Checkout Fedong!',
      url: url
    },
    fail: function() {
      alert('카카오톡이 설치되어 있지 않습니다.');
    }
  });
  }
</script>
</body>
</html>