{% load staticfiles %}
{% load tz %}
{% timezone None %}
<div class="col-md-12">
  <div class="media-list">
    <div class="media-left">
      <a href="/v/{{ video.id }}"><img class="media-object" src="{{ video.thumbnail }}" width="120" height="90" alt="{{ video.title }}"></a>
    </div>
    <div class="media-body">
      <a href="/v/{{ video.id }}" style="color:#000;">
        <h6 class="media-heading">
          {% if video.title|length > 1 %}
            {{ video.title }}
          {% elif video.description|length > 1 %}
            {{ video.description|truncatechars:32 }}
          {% else %}
            <small>제목이 없는 영상</small>
          {% endif %}
        </h6>
      </a>
      <p class="media-timestamp">
        {% for tag in video.tags.all %}
          <a href="/tag/{{ tag.id }}" style="text-decoration:none;"><span class="label label-danger">#{{ tag.name }}</span></a>
        {% endfor %}
      </p>
      <p class="media-timestamp pull-right">
        <small>{{ video.created_at|date:'Y-m-d H:i:s' }}</small>
      </p>
    </div>
  </div>
</div>
{% endtimezone %}