{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}힛동{% endblock %}
{% block url %}http://hitdong.com/v/{{ video.video_id }}{% endblock %}
{% block description %}{{ video.description }}{% endblock %}
{% block meta_thumbnail %}{{ video.thumbnail }}{% endblock %}

{% block body %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <nav>
    <ul class="pager">
      <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> 목록으로</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-md-12">
      <h4><img src="{{ video.page.profile_url }}">{{ video.page.name }}</h4>
      <div class="fb-video" data-href="https://www.facebook.com/{{ video.page.page_id }}/videos/{{ video.video_id }}/" data-allowfullscreen="true" data-width="500"></div>
      <div class="caption">
        <p><small>{{ video.created_at }}</small>
        <p>{{ video.description|linebreaksbr|urlize }}</p>
        <p>{{ video.comment_count }} / {{ video.like_count }}</p>
        <p>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.base_url }}" target="_blank">
            <img src="{% static "img/fb-logo.png" %}">
          </a>
          <a href="#" class="kakao-link-btn" data-thumbnail="{{ video.thumbnail }}" data-url="{{ video.video_id }}">
            <img src="{% static "img/kakao-logo.png" %}">
          </a>
          <a href="#" id="kakao-story-btn">
            <img src="{% static "img/kakaostory-logo.png" %}">
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}