{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}힛동{% endblock %}
{% block url %}http://hitdong.com/v/{{ video.video_id }}{% endblock %}
{% block description %}{{ video.description }}{% endblock %}
{% block meta_thumbnail %}{{ video.thumbnail }}{% endblock %}

{% block body %}
  <div id="banner_adlib"></div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <nav>
    <ul class="pager">
      <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> 목록으로</a></li>
    </ul>
  </nav>
  <div class="media">
    <a href="/p/{{ video.page.username }}">
      <div class="media-left">
        <img class="media-object" src="{{ video.page.profile_url }}">
      </div>
      <div class="media-body">
        <h4 class="media-heading">&nbsp;</h4>
        {{ video.page.name }}
      </div>
    </a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="fb-video" data-href="https://www.facebook.com/{{ video.page.page_id }}/videos/{{ video.video_id }}/" data-allowfullscreen="true" data-width="500"></div>
      <div class="caption">
        <p>{{ video.description|linebreaksbr|urlize }}</p>
        <p class="text-center" style="padding-top:20px;">댓글 {{ video.comment_count }} / 좋아요 {{ video.like_count }}</p>
        <ul class="list-inline text-center">
          <li>
            <a href="#" class="facebook-btn" data-video-id="{{ video.video_id }}"><img src="{% static "img/fb-logo.png" %}"></a>
          </li>
          <li>
            <a href="#" class="kakao-link-btn" data-thumbnail="{{ video.thumbnail }}" data-video-id="{{ video.video_id }}" data-msg="{{ video.page.name }}의 동영상을 확인하세요!"><img src="{% static "img/kakao-logo.png" %}"></a>
          </li>
          <li>
            <a href="#" id="kakao-story-btn"><img src="{% static "img/kakaostory-logo.png" %}"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}