{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}힛동{% endblock %}
{% block url %}http://hitdong.com/v/{{ video.video_id }}{% endblock %}
{% block description %}{{ video.description }}{% endblock %}
{% block meta_thumbnail %}{{ video.thumbnail|safe }}{% endblock %}
{% block fb_thumbnail %}{{ video.thumbnail|safe }}{% endblock %}

{% block body %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="media" style="padding-bottom:20px;">
    <a href="/p/{{ video.page.username }}">
      <div class="media-left">
        <img class="media-object" src="{{ video.page.profile_url }}">
      </div>
      <div class="media-body">
        <h4 class="media-heading">&nbsp;</h4>
        {{ video.page.name }}
      </div>
    </a>
  </div>
  <div class="row">
    {% include "video_macro.html" with use_profile=0 use_video=1 %}
  </div>
  <div id="banner_adlib"></div>
  {% if same_page_videos|length > 0 %}
    <div class="row">
      <div class="col-xs-12">
        <h4>이 페이지의 다른 동영상</h4>
      </div>
      {% for video in same_page_videos %}
        <div class="col-xs-6">
          <div class="thumbnail">
            <a href="/v/{{ video.video_id }}" onClick="ga('send', 'event', 'video', 'recommend', '{{ video.video_id }}');"><img src="{{ video.thumbnail }}"></a>
            <div class="caption" style="word-break: break-all;">
              <p>{{ video.description|linebreaksbr|urlize }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}