{% load staticfiles %}
<div class="col-md-12">
  <div class="thumbnail">
    {% if use_video %}
      <div class="loader" style="height:200px;padding-top:80px;text-align:center;">
        페이스북 동영상을 불러오고 있습니다.
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">감렁미ㅏㄴ럼니ㅏ런ㅇ</span>
          </div>
        </div>
      </div>
      <div class="fb-video"
           data-href="https://www.facebook.com/video.php?v={{ video.video_id }}"
           data-allowfullscreen="true"
           data-width="700" style="display:none;">
      </div>
    {% else %}
      <a href="/v/{{ video.video_id }}"><img src="{{ video.thumbnail }}" width="500" height="300"></a>
    {% endif %}
    <div class="caption">
      {% if use_profile %}
      <div class="media" style="padding-bottom:20px;">
        <a href="/p/{{ video.page.username }}">
          <div class="media-left">
            <img class="media-object" src="{{ video.page.profile_url }}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ video.page.name }}</h4>
          </div>
        </a>
      </div>
      {% endif %}
      <p>{{ video.description|linebreaksbr|urlize }}</p>
      <ul class="list-inline text-center">
        <li>
          <a href="#" class="facebook-btn" data-video-id="{{ video.video_id }}"><img src="{% static "img/fb-logo.png" %}"></a>
        </li>
        <li>
          <a href="#" class="kakao-link-btn" data-video-id="{{ video.video_id }}" data-msg="{{ video.description }} via/ hitdong.com"><img src="{% static "img/kakao-logo.png" %}"></a>
        </li>
        <li>
          <a href="#" class="kakao-story-btn" data-video-id="{{ video.video_id }}"><img src="{% static "img/kakaostory-logo.png" %}"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  var fbVideoChecker = setInterval(function(){
    var state = $('.fb-video').attr('fb-xfbml-state');
    if (state == 'rendered') {
      $('.loader').remove();
      $('.fb-video').show();
      clearInterval(fbVideoChecker);
    }
  },1000);
</script>