{% extends "layout.html" %}
{% load staticfiles %}
{% block body %}
  <div class="row">
  {% for video in videos %}
    <div class="col-md-12">
      <h4><a href="/p/{{ video.page.username }}"><img src="{{ video.page.profile_url }}">{{ video.page.name }}</a></h4>
      <div class="fb-video" data-href="https://www.facebook.com/{{ video.page.page_id }}/videos/{{ video.video_id }}/" data-allowfullscreen="true" data-width="500"></div>
      <div class="caption">
        <p><small>{{ video.created_at }}</small>
        <p>{{ video.description|linebreaksbr|urlize }}</p>
        <p>{{ video.comment_count }} / {{ video.like_count }}</p>
        <p>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}/v/{{ video.video_id }}" target="_blank">
            <img src="{% static "img/fb-logo.png" %}">
          </a>
          <a href="#" class="kakao-link-btn" data-thumbnail="{{ video.thumbnail }}" data-url="{{ request.get_host }}/v/{{ video.video_id }}">
            <img src="{% static "img/kakao-logo.png" %}">
          </a>
          <a href="#" id="kakao-story-btn">
            <img src="{% static "img/kakaostory-logo.png" %}">
          </a>
        </p>
      </div>
    </div>
  {% endfor %}
  </div>
  <nav>
    <ul class="pager">
    {% if videos.has_previous %}
      <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    {% else %}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    {% endif %}
      <li>Page {{ videos.number }} of {{ videos.paginator.num_pages }}.</li>
    {% if videos.has_next %}
      <li class="next"><a href="?page={{ videos.next_page_number }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% else %}
      <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    </ul>
  </nav>
{% endblock %}