{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <title>페동</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.3";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="{% static "img/fb-logo.png" %}">
        </a>
      </div>
    </div>
  </nav>
  {% block body %}{% endblock %}
</div>
<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
<script>
  Kakao.init('{{ KAKAO_API_KEY }}');

  $('.kakao-link-btn').click(function(e){
      e.preventDefault();

      var img_src = $(this).data('thumbnail');
      var id = $(this).data('url');

      sendToKakaoTalk(img_src, 'http://fedong.kimtree.net/v/' + id);
  });

  function sendToKakaoTalk(img_src, url) {
    Kakao.Link.sendTalkLink({
    label: '아래 동영상을 확인하세요',
    image: {
      src: img_src,
      width: '300',
      height: '200'
    },
    webButton: {
      text: 'Checkout Fedong!',
      url: url
    },
    fail: function() {
      alert('카카오톡이 설치되어 있지 않습니다.');
    }
  });
  }
</script>
</body>
</html>